<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Student</title>
</head>

<!-- view folder is created when we want dynamic data -->

<body>
    <!-- Note: the name property of input is used in the backend part in creating the student schema   -->
    <div class="studentdetails">
        <form action="/create" method="post">
            <label>Full Name</label>
            <input type="text" name="student_name" required>
            <label>Roll No</label>
            <input type="number" name="roll_no" required>
            <label>Class/Section</label>
            <input type="text" name="class_section" required>
            <label>Subjects</label>
            <input type="text" name="subjects" required>
            <button type="submit">Submit</button>
        </form>
    </div>

    <div class="getdetails">
        <form action="/display" method="get">
            <button>See All Students</button>
        </form>
    </div>

    <div class="updatedetails">
        <form action="/updateData" method="post">
            <h4>Update details</h4>
            <label>Full Name</label>
            <input type="text" name="student_name" required>
            <label>Roll No</label>
            <input type="number" name="roll_no" required>
            <label>Class/Section</label>
            <input type="text" name="class_section" required>
            <label>Subjects</label>
            <input type="text" name="subjects" required>
            <button>Update Data</button>
        </form>
    </div>

    <div class="getdetails">
        <form action="/delete" method="post">
            <br>
            <h4>Delete data</h4>
            <input type="number" name="roll_no" required>
            <button>Delete Student Data</button>
        </form>
    </div>
</body>

</html>